html {
    font-size: 62.5%;
}

body {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
}

.font__secondary {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400;
}

h2 {
    font-size: 6.4rem;
    color: var(--light-grey);
}
