.hero {
    margin-bottom: 15rem;

    @include respond(tab-land) {
        margin-bottom: 11.2rem;
    }

    &__container {
        max-width: 1100px;
        margin: 0 auto;

        @include respond(desktop) {
            padding-left: 4rem;
        }
        @include respond(tab-land) {
            max-width: 100%;
            padding: 0 6rem;
        }
        @include respond(mobile) {
            padding: 0 4rem;
        }
    }

    &__primary {
        margin-bottom: 4.8rem;
    }

    &__secondary {
        gap: 8rem;

        @include respond(tab-land) {
            gap: 3rem;
        }

        @include respond(tab-port) {
            gap: 2rem;
        }

        @include respond(small-tab) {
            flex-direction: column;
        }

        &-image {
            @include respond(tab-land) {
                width: 90%;
            }

            @include respond(small-tab) {
                width: 40%;
                margin-bottom: 2.4rem;
            }
        }
    }

    &__subheading {
        font-size: var(--size-small);
        color: var(--white);
        align-items: center;
        gap: 2rem;

        &-divider {
            fill: var(--white);
        }

        &-box {
            margin-bottom: 2rem;
        }

        @include respond(tab-land) {
            // margin-bottom: -2rem;
        }
    }

    &__heading {
        font-size: 9.6rem;
        line-height: 1.3;
        color: var(--white);
        max-width: 997px;

        &--design {
            color: var(--blue);
        }

        &--code {
            color: var(--red);
        }

        &--open-source {
            color: var(--green);
        }

        @include respond(tab-land) {
            max-width: 100%;
        }

        @include respond(mobile) {
            font-size: 5.6rem;
            line-height: 1.4;
        }
    }

    &__cta-box {
        position: relative;
    }

    &__desc {
        font-size: var(--size-medium);
        line-height: 1.7;
        text-align: justify;
        color: var(--light-grey);
        max-width: 592px;

        &-box {
            margin-bottom: 4.8rem;
        }
    }

    &__arrow {
        position: absolute;
        top: -170%;
        left: -25%;

        @include respond(tab-land) {
            height: 170px;
            left: -24%;
        }

        @include respond(tab-port) {
            height: 150px;
        }

        @include respond(small-tab) {
            display: none;
        }
    }
}

.about {
    margin-bottom: 15rem;

    @include respond(tab-land) {
        margin-bottom: 11.2rem;
    }

    &__heading {
        margin-bottom: 3.2rem;
    }

    &__mainBox {
        column-gap: 12rem;

        @include respond(tab-land) {
            flex-direction: column;
        }
    }

    &__skillsBox {
        grid-template-rows: repeat(4, 1fr);
        row-gap: 2.4rem;

        @include respond(tab-land) {
            grid-template-rows: 1fr;
            grid-template-columns: min-content min-content min-content min-content;
            column-gap: 2rem;
            text-align: right;
        }

        @include respond(small-tab) {
            grid-template-rows: 1fr;
            grid-template-columns: min-content min-content;
        }

        &-row {
            gap: 2.4rem;
            @include respond(tab-land) {
                gap: 2rem;
            }
        }
    }

    &__skillImg {
        height: 50px;
        @include respond(mobile) {
            height: 40px;
        }

        @include respond(smallest-screens) {
            height: 30px;
        }
    }

    &__desc {
        @include respond(tab-land) {
            margin-bottom: 4.8rem;
        }
    }

    &__descPara {
        font-size: var(--size-large);
        color: var(--light-grey);
        line-height: 1.7;
    }

    &__descPara:not(:last-child) {
        margin-bottom: 2.4rem;
    }
}

.projects {
    margin-bottom: 15rem;

    @include respond(tab-land) {
        margin-bottom: 11.2rem;
    }

    &__heading {
        margin-bottom: 6.4rem;
    }

    &__mainBox {
        flex-direction: column;
        gap: 14.4rem;

        @include respond(tab-land) {
            gap: 9.6rem;
        }
    }
}

.contact {
    margin-bottom: 18rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background: linear-gradient(
            97.51deg,
            #7266ff 0%,
            #ff6666 63.72%,
            #69ff66 106.98%
        );
        top: 40%;
        right: 0;
        z-index: -9999;
    }

    @include respond(mobile) {
        width: 100%;
        margin: 0 auto;
    }

    @include respond(tab-land) {
        margin-bottom: 14.4rem;
    }

    &__mainBox {
        width: 83%;
        margin: 0 auto;
        padding-left: 7.2rem;
        padding-top: 5.6rem;
        border-radius: 10px;

        @include respond(tab-land) {
            flex-direction: column;
            padding: 5.6rem 7.2rem;
        }

        @include respond(small-tab) {
            width: 90%;
            padding: 4.8rem 5.6rem;
        }

        @include respond(mobile) {
            width: 100%;
            padding: 4.8rem 3.2rem;
        }

        @include respond(smallest-screens) {
            width: 100%;
            padding: 5.6rem 3.2rem;
        }
    }

    &__heading {
        font-size: 7.2rem;
        margin-bottom: 3.2rem;
        color: var(--white);
    }

    &__desc {
        max-width: 400px;
        font-size: var(--size-large);
        color: var(--white);
        line-height: 1.6;
        margin-bottom: 5.6rem;

        @include respond(tab-land) {
            max-width: 100%;
        }
    }

    &__email {
        font-size: var(--size-large);
        font-weight: 300;
        color: var(--white);
        padding: 2.4rem 4.8rem;
        border: 1px solid var(--white);
        position: relative;

        @include respond(smallest-screens) {
            width: 100%;
            padding: 1rem 2.4rem;
        }

        &:hover {
            border: 1px solid #592c42;
            filter: blur(2);

            &::before {
                background-color: #592c42;
            }

            & .contact__email-icon {
                color: #592c42;
            }

            & .contact__email-cta {
                opacity: 1;
                pointer-events: auto;
                visibility: visible;
            }
        }

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            top: 0;
            left: 7rem;
            background-color: var(--white);

            @include respond(smallest-screens) {
                left: 5rem;
            }
        }

        &-icon {
            font-size: 2rem;
            color: var(--white);
            vertical-align: middle;
            margin-left: -2rem;
            margin-right: 4rem;
            z-index: -9999;

            @include respond(smallest-screens) {
                margin-left: -1rem;
            }
        }

        &-cta {
            position: absolute;
            top: -4rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.6rem;
            background-color: #592c42;
            padding: 5px 0;
            width: 100%;
            text-align: center;
            transition: all 0.5s;

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 1.5rem solid transparent;
                border-right: 1.5rem solid transparent;
                border-top: 1.5rem solid #592c42;
                position: absolute;
                bottom: -8px;
                left: 45%;
                z-index: -999999;
            }
        }
    }

    &__imgBox {
        padding-top: 12rem;

        @include respond(tab-land) {
            padding-top: 3.2rem;
            text-align: right;
            display: none;
        }
    }
}
