:root {
    // Colors
    --white: #f8f8f8;
    --blue: #7266ff;
    --red: #ff6666;
    --green: #69ff66;
    --main-grey: #12181b;
    --light-grey: #6c7983;

    // Typography
    --size-large: 1.8rem;
    --size-medium: 1.6rem;
    --size-small: 1.4rem;
}
